@font-face {
  font-family: 'DREAMS';
  src: url('DREAMS.woff2') format('woff2'),
    url('DREAMS.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alenia';
  src: url('Alenia.woff2') format('woff2'),
    url('Alenia.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
  background-image: url("space.png");
  background-position: top;
}

canvas {
  display: block;
  vertical-align: bottom;
  z-index: -1;
}

/* ---- particles.js container ---- */
button {
  z-index: 2;
  width: 150px;
  height: 100px;
}

img {
  height: 150px;
  width: 150px;
}

h1 {
  font-family: Alenia;
  font-size: 50px;
  text-align: center;
  margin-top: 150px;
  overflow: hidden;
}

h2 {
  z-index: 10;
  font-family: DREAMS;
  margin-left: 60px;
  margin-top: 80px;
  height: 150px;
  width: 300px;
}

#particle-div {
  margin: 0 auto;
  width: 800px;
  height: 500px;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
}

/* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #cf1020;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats, .count-particles {
  - webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

.navbar {
  height: 45px;
  align-content: center;
  z-index: 5;
  background-color: Transparent !important;
}

.navbar-brand {
  color: #808080;
}

.button-wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.glow-on-hover {
  font-family: Alenia;
  font-size: 20px;
  position: fixed;
  box-shadow: 0px 2px #888888;
  top: 50%;
  width: 220px;
  height: 50px;
  outline: none;
  color: #000;
  background: Transparent;
  cursor: pointer;
  z-index: 1;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #cf1020, #FF7E00, #FFE6B3, #d6407f);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  background: #111;
  left: 0;
  top: 0;
}

.social-icons {
  bottom: 0px;
  text-align: right;
}

.social-buttons button {
  margin: 10px;
  height: 30px;
  width: 30px;
}

.neo-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 11px;
  background: linear-gradient(145deg, #808080, #8c8c8c);
}

.neo-button:hover {
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 11px;
  background: linear-gradient(145deg, #cf1020, #FF7E00);
  box-shadow: inset 3px 3px 3px #FF7E00, inset -3px -3px 3px #FF7E00
}

.neo-button .fa {
  color: #eee
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}
